<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../static/css/mycs.css">
    </head>
    <body>
        <div class="menu-bar">
            <ul>
                <li class=""><a class="nav-link" href="{{ url_for('main_home') }}">Home</a></li>
                <li><a class="nav-link" href="{{ url_for('user_info') }}">Crop Recommendation</a></li>
                <li><a class="nav-link" href="{{ url_for('fetrilizer') }}">Fetrilizer Recommendation</a></li>
                <li><a class="nav-link" href="{{ url_for('alg_analysis') }}">Ml Models</a>
                <div class="sub-menu-1">
                    <ul>
                        <li><a class="nav-link" href="{{ url_for('random_forest') }}">Random Forest</a></li>
                        <li><a class="nav-link" href="{{ url_for('deceision_tree') }}">Decesion Tree</a></li>
                        <li><a class="nav-link" href="{{ url_for('svm') }}">SVM</a></li>
                        <li><a class="nav-link" href="{{ url_for('model_report') }}">Models report</a></li>
                    </ul>
                </div>
                </li>
                <li><a class="nav-link" href="{{ url_for('alg_analysis') }}">Seasional Crops</a>
                
                </li>
                <li><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
            </ul>
        </div>
        <br/><br/><h1 style="text-align: center;">summer Crops are: <br/>{{ summer_crop }}</h1><br/><br/>
        <h1 style="text-align: center;">Winter Crops are: <br/>{{ winter_crop }}</h1>
    </body>
</html>